{% extends 'games/base_games.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/games/math_member/math_member.css">
    <script src="/static/games/math_member/math_member.js"></script>
{% endblock %}

{% block content_games %}
    <div class="row">
        <div class="col-md-12">
            <div class="game_start">
                <div class="options">
                    Играть одному <input type="radio" name="regim" class="radio radio-inline" value="alone" checked="checked"><br>
                    Играть против компьютера <input type="radio" name="regim" class="radio radio-inline" value="komp"><br>
                    Действия:
                    <label class="checkbox-inline">
                        <input id="pls" type="checkbox" value="+" checked="">+
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="-" checked="">-
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="*" checked="">*
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="/" checked="">/
                    </label>
                </div>
            </div>
            <button id="start" class="btn btn-success">Начать</button>
            <div class="place">

            </div>
        </div>
    </div>
    <div id="templates">
        <div class="template card">
            <div class="karta">
                <div class="text"></div>
            </div>
        </div>
    </div>
{% endblock %}