{% extends 'base.html' %}

{% block title %}Математика - изучаем математику просто и интересно! Уроки математики, задачи по математике.{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Добро пожаловать на сайт интересных математических задач и испытаний!</h3>
                <p>Решай задачи разных математических конкурсов и зарабатывай достижения. Стань лучшим и попади на Доску почета!</p>
            </div>
        </div>
    </div>
{% endblock %}