{% extends 'problems/base_problems.html' %}

{% block title %}Испытание Олимпиада - {{ category.title }}{% endblock %}

{% block page_desc %}
    Подготовка к математической олимпиаде онлайн, пробные олимпиады по математике.
{% endblock %}

{% block head %}
    <script src="/static/js/challenges/olimpiada.js"></script>
{% endblock %}

{% block content_problem %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-bottom-20">Испытание Олимпиада - {{ category.title }}</h3>
            <form method="post" id="answer_form">
                {% for problem in problems %}
                    <div class="row">
                        <div class="col-md-8">
                            <div id="problem{{ problem.pk }}"><strong>{{ forloop.counter }}</strong>. {{ problem.text|safe }}<br></div>
                        </div>
                        <div class="col-md-4 olimpiada-answer-form">
                            <div class="input-group">
                                <span class="input-group-addon">Ответ:</span>
                                <input class="form-control" type="text" name="answer{{ problem.pk }}">
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </form>
            <p class="italic text-right">Все задачи оцениваются в 7 баллов.</p>
            <div id="button_res" class="margin-bottom-20">
                <button class="btn btn-success" id="answerButton">Отправить на проверку</button>
            </div>
            <div id="timer"></div>
            <div id="target"></div>
            <small class="text-muted">Во время проведения реальной олимпиады по математике оценивается всё решение,
                его полнота. По-этому и оценка может быть от 0 до 7 баллов. К сожалению, здесь мы можем проверить лишь
                правильность ответа. Соответственно, оценка может быть или 0, или 7 баллов.
            </small>
        </div>
    </div>
{% endblock %}